
body {
    background-color: rgba(70, 142,236);
    font: normal 15pt Arial;
}

header {
    color:white;
    text-align: center;
}


section {
   background-color: white;
   border-radius: 10px;
   padding: 15px;
   width: 490px;
   margin: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281); 
}

select#flista {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}